@use "../../variables&mixins.scss" as *;

.error {
  height: 204px;
  text-align: center;
  color: $dark-gray;
  margin-top: 132px;

  h2 {
    margin: 44px 0 24px;
    @include Heading-S;
    font-weight: $bold-weight;
  }

  p {
    color: $light-gray;
    @include Body-M;
  }

  &.hidden {
    display: none;
  }
}

//Dark Theme
.error.dark {
  color: $white;
}

//mobile

@media (max-width: 500px) {
  .error {
    img {
      width: 40px;
    }

    h2 {
      font-size: 18px;
    }

    p {
      font-size: 16px;
    }
  }
}
